.cookies-section{
    .content-header{
        .ver-align{
            padding-top: 58px;
        }

        .industry-title{
           

            display: inline-block;
            font-weight: 400;
            font-size: 28px;
            margin: 0px;
            line-height: 70px;
        }
        

        width: 100%; 
        height: 200px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.terms-section{
    .content-header{
        .ver-align{
            padding-top: 58px;
        }

        .industry-title{
           

            display: inline-block;
            font-weight: 400;
            font-size: 28px;
            margin: 0px;
            line-height: 70px;
        }
        

        width: 100%; 
        height: 200px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.privacy-section{
    .content-header{
        .ver-align{
            padding-top: 58px;
        }

        .industry-title{
           

            display: inline-block;
            font-weight: 400;
            font-size: 28px;
            margin: 0px;
            line-height: 70px;
        }
        

        width: 100%; 
        height: 200px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.useful-links-section{
    .content-header{
        .ver-align{
            padding-top: 58px;
        }

        .industry-title{
           

            display: inline-block;
            font-weight: 400;
            font-size: 28px;
            margin: 0px;
            line-height: 70px;
        }
        

        width: 100%; 
        height: 200px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .faq{
        text-align: left;

        .card-container{
            border-radius: 0px;
            header{
                border-radius: 0px;
            }
            a{
                background-color: #008970;
                padding-left: 20px;
                padding-right: 20px;
                padding-top:10px;
                padding-bottom: 10px;
                font-size: 19px;
                font-weight: 600;
            }
        }
    }
}